* {
  margin: 0;
  padding: 0;
}

h1 {
  color: rgb(252, 13, 27);
  margin-top: 30px;
  margin-bottom: 60px;
}

h2 {
  color: rgb(252, 13, 27);
  margin-top: 30px;
}

.mainSearchPage {
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.searchWrapper {
  display: flex;
  flex-direction: row;
  width: 50%;
}

.days {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  margin-top: 16px;
}

.dayWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dayName {
  color: white;
  font-size: 12px;
  margin-bottom: 6px;
  font-weight: 300;
}

.day {
  height: 40px;
  width: 40px;
  background-color: rgb(32, 32, 32);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.day input {
  background: transparent;
  border: 0px;
  color: white;
  height: 80%;
  width: 100%;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 800;
}

.day input:focus {
  outline: none;
}

.day span {
  position: absolute;
  color: white;
  font-size: 8px;
  bottom: 6px;
}
