* {
  margin: 0;
  padding: 0;
}

h1 {
  color: rgb(252, 13, 27);
  margin-top: 30px;
  margin-bottom: 60px;
}

h2 {
  color: rgb(252, 13, 27);
  margin-top: 30px;
  text-align: center;
}

.searchWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
}

.days {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  margin-top: 16px;
}

.dayWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dayName {
  color: white;
  font-size: 12px;
  margin-bottom: 6px;
  font-weight: 300;
}

.day {
  height: 40px;
  width: 40px;
  background-color: rgb(32, 32, 32);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.day input {
  background: transparent;
  border: 0px;
  color: white;
  height: 80%;
  width: 100%;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 800;
}

.day input:focus {
  outline: none;
}

.day span {
  position: absolute;
  color: white;
  font-size: 8px;
  bottom: 6px;
}

.modalHeader {
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
  border-bottom: 1px solid rgb(60, 60, 60);
  padding: 16px;
  position: sticky;
  top: 0;
  background-color: rgb(40, 40, 40);
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
}

.label {
  font-size: 10px;
  font-weight: 400;
  text-align: center;
  color: white;
}

.value {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: white;
}

.modalHeader .daysInfo {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
  width: -webkit-fill-available;
  justify-content: space-between;
}

.dayInfo {
  display: flex;
  flex-direction: column;
  width: fit-content;
}
